
#content #main
{
	float: right;
    min-width: 700px;
	 position: relative;
    width: 40%;
    z-index: 1;
	border-left: 1px solid silver;
	box-shadow: 0px 0px 10px 0px silver;
	-webkit-box-shadow: 0px 0px 10px 0px silver;
	-moz-box-shadow: 0px 0px 10px 0px silver;
}

#content #main .block
{
	padding: 40px;
	border-bottom: 1px solid silver;
	background: url(../img/lightpaperfibers/lightpaperfibers.png);
}

#content #main .block  p
{
	text-align: justify;
}

#content #main #mobile_map
{
	height: 500px;
}

#content #company
{
left:0;
overflow: hidden;
position: fixed;
top: 40;
width: 60%;
z-index: 0;
}

.block
{
	clear:both;
}

h1, h2
{
    font-family: 'Lobster', Helvetica, Arial, sans-serif;
    font-size: 70px;

	margin: 0;
	line-height: 120px;
	position: relative;
	text-align: center;
	color: black;
}

.navbar a.brand
{
font-family: 'Lobster', Helvetica, Arial, sans-serif;
margin-left: 20px;
}

#content #main p, #content #main pre, #content #main li{
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 35px;
    line-height: 45px;
}

#content #main li
{
	list-style: none;
}

#content #main pre {
    font-size: 25px;
    line-height: 30px;
}

/* spécifique logis */
#content #main ul#logements
{
	margin: 0px;
}

#content #main #logements .Logis 
{
	background: url(../img/textured_paper/textured_paper.png);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-left: 4px solid transparent;
	margin: 10px 0px;
	font-size: 22px;
	line-height: 26px;
	padding: 10px;
	clear: both;
	cursor: pointer;
}

.InfoBlock .Nom
{
	font-weight: bolder;
}

#content #main #logements .Logis .InfoBlock
{
	width: 49%;
	display: inline-block;
	vertical-align: top;
}



#content #main #logements .Logis .AdditionalData
{
	background: url(../img/mochaGrunge/mochaGrunge.png);
	color: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 5px;
	display: inline-block;
	width: 100%;
}

#content #main #logements .Logis .AdditionalData ul
{
	padding: 0px;
	margin: 3px;
}

#content #main #logements .Logis .AdditionalData li
{
	font-size: 20px;
	line-height: 24px;
}

#content #main #logements .Logis .AdditionalData a
{
	color: #FF8205;
}

#content #main #logements .SelectedLogis
{
	border-left: 4px solid #FF8205;
}

/* on gère les infowindow de google map */
.InfoBlock .AdditionalData li 
{	
	list-style: none;
}

/* illustrations */

.illustration .legend {
	background: #555;
	color: white;
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	font-size: 25px;
	padding: 10px;
	position: fixed;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
}


#mainevent_illustration
{
	background-image: url(../img/mariage.jpg);
	background-position: right top;
	background-repeat: no-repeat;
	background-size: cover;
}

#quand_illustration
{
	background-image: url(../img/BackToTheFuture.jpg);
	background-position: right top;
	background-repeat: no-repeat;
	background-size: cover;
}

#contact_illustration
{
	background-image: url(../img/Bat_Signal.jpg);
	background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;
}

/*
#logis_illustration
{
	background-image: url(../img/Igor.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}
*/

#dresscode_illustration
{
	background-image: url(../img/Danse.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}

#enfants_illustration
{
	background-image: url(../img/Mary.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

#liste_illustration
{
	background-image: url(../img/moulinex.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

/* correctif google maps et bootstrap */
.map img
{
	max-width: none;
}