#mainevent, #ou, #quand, #wot, #logis, #blog
{
	min-height: 650px;
		-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
	margin: 50px 0px;
}

h2
{
	margin: 0;
	background-color: #6d6e70;
	line-height: 120px;
	position: relative;
	/*top: -120px;*/
	text-align: center;
	color: white;
	
	display: inline-block;
	float: left;
	padding: 25px;
}

#mainevent
{
	text-align: center;
	background: #ccc;
}

/*#mainevent h1
{
    font-family: 'Corben', Georgia, Times, serif;
    font-size: 40px;
    line-height: 55px;
}*/


#ou
{
	background-image: url(../img/x.jpg);
	background-position: center top;
	min-height: 816px;
	background-repeat: no-repeat;
}

#ou  .cartouche
{
	background: white;
	opacity: 0.9;
	position: relative;
	top: 100px;
	padding: 50px;
}

#ou  .cartouche iframe
{
	opacity: 1;
}

h2
{
    font-family: 'Lobster', Helvetica, Arial, sans-serif;
    font-size: 70px;
}

#quand
{
min-height: 900px;
}

#wot
{
}

#quand
{
background-image: url(../img/BackToTheFuture.jpg);
background-position: center top;
min-height: 900px;
background-repeat: no-repeat;
}

#logis
{
background-image: url(../img/Igor.jpg);
background-position: center top;
min-height: 1080px;
background-repeat: no-repeat;
}